@charset "UTF-8";

body{
  /* Imagem genérica tirada internet e otimizada (39%) no site
  ----------  https://tinyjpg.com/ 202kb pra 132kb  -----------
  */
  background: url('../img/pokéBalls.jpg') center center no-repeat fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* posição da logo */
/* Imagem genérica tirada internet e otimizada (39%) no site
  ----------  https://tinypng.com/ 68kb pra 21kb  -----------
  */
.logo{
    border-image: none;
    background: url('../img/PokémonLogo.png') transparent no-repeat;
    background-size: 290px 90px;
    width: 290px;
    height: 90px;
    position: absolute;
    top: 18%;
    left: 50%;
    margin-left:-145px;
    z-index: 1;
}
/*  transparencia pra jumbotron */
.CssTransparencia{
  background: linear-gradient(#bc2300,#111,#000,#000,#111,transparent);
  color: inherit;
  text-align: center;
  margin-bottom: 0;
  padding: 60px 34px;
}
/* textos dentro do jumbotron */
.ConteudoJumbotron{
  color: #fff !important;
}
/*  pra enchergar os caracteres */
.CssColor{
  color: white;
  background: linear-gradient(transparent,black,black,transparent);
  font-size: 18pt;
  font-family: Arial;
  font-weight: 900;
}
/*conjunto de entrada (input, label e submit) da pokédex */
.formulario{
  display: block;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.CorInput {
  border-color: #bc2300;
  border-width: 3px;
}

/*campo de Input da pokédex */
#pokedex{
  display: inline;
}
/* div pai relative pra posiciomento do dados da pokédex */
.PaiPHP{
  position: relative;
  width: 684px;
  height: 523px;
  left:50%;
  margin-left:-342px;
}
/* pokédex - transparencia pra junbotron */
.PositionID{
  color: white;
  width: 80px;
  position: absolute;
  top: 79%;
  left: 17%;
  /*rotação dos dados php do pokemons */
  -ms-transform: rotate(-3deg); /* IE 9 */
  -webkit-transform: rotate(-3deg); /* Safari */
  transform: rotate(-3deg);
}
/*Configuração do nome do pokémon */
.PositionNome{
  color: white;
  width: 200px;
  position: absolute;
  top: 35.5%;
  left: 60%;
  /*rotação dos dados php do pokemons */
  -ms-transform: rotate(-2.8deg); /* IE 9 */
  -webkit-transform: rotate(-2.8deg); /* Safari */
   transform: rotate(-2.8deg);
}
/*Configuração de posicionamento do PNG do pokémon*/
.FormaFisica{
    width: 130px;
    height: 110px;
    position: absolute;
    top: 206px;
    left: 122px;
    /*rotação dos dados php do pokemons */
    -ms-transform: rotate(-2deg); /* IE 9 */
    -webkit-transform: rotate(-2deg); /* Safari */
    transform: rotate(-2deg);
}

/*Configuração do 1° tipo  */
.PositionTipo0{
  color: white;
  width: 90px;
  position: absolute;
  top: 78.5%;
  left: 59.5%;
  /*rotação dos dados php do pokemons */
  -ms-transform: rotate(-2deg); /* IE 9 */
  -webkit-transform: rotate(-2deg); /* Safari */
   transform: rotate(-2deg);
}

/*Configuração do 2° tipo  */
.PositionTipo1{
  color: white;
  width: 90px;
  position: absolute;
  top: 78%;
  left: 76.5%;
  /*rotação dos dados php do pokemons */
  -ms-transform: rotate(-1deg); /* IE 9 */
  -webkit-transform: rotate(-1deg); /* Safari */
  transform: rotate(-1deg);
}
/*Congiguração do rodapé */
.footer {
    background-color: #000;
    bottom: 0;
    width: 100%;
    height: 64px;
    line-height: 60px;
}
.footerTexto {
    color: white;
}
/*linha do rodapé Vermelha*/
.linhaVermelha {
    margin-top: 15px;
    margin-bottom: 0px;
    background-color: #D00;
    height: 1px;
}
/*linha do rodapé Branca */
.linhaBranca {
    margin: 0px;
    background-color: #CCC;
    height: 1px;
}
